{% extends "reservation_room/layout.html" %}
{% block title %}
<p>list of room</p>
{% endblock %}
{% block content %}
<h1>Creation d'une chambre.</h1>
<div class="">
                    
    <form method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td> <label for="">Nom</label></td><td><input type="text" placeholder="Nom" name="nom"></td>
            </tr>
            <tr>
                <td><label for="">Prenom</label></td><td><input type="Prenom" placeholder="prenom" name="prenom"></td>
            </tr>
            <tr><td><label for="">Telephone</label></td><td><input type="text" placeholder="Telephone" name="telephone"></td></tr>

            <tr><td> <label for="">Adresse</label></td><td><input type="email" placeholder="email" name="adresse"></td></tr>

            <tr><td> <label for="">Email</label></td><td><input type="email" placeholder="email" name="email"></td></tr>

            <tr><td><label for="">Date de naissance</label></td><td><input type="date" placeholder="date" name="datenaissance"></td></tr>

            <tr><td> <label for="">Numero passeport</label></td><td><input type="number" placeholder="number" name="numeropasseport"></td></tr>
            <tr ><td colspan="2"><button class="button" type="submit" value="insert" onclick="return alert('Record is succefuly')">Enregistrer </button> </td></tr>
        </table>                     
         

    </form>  

</div>
{% endblock %}